*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    background-color: #efeeee;
    padding: 10vh 50vh;
    height: 100%;
}

.primera-mitad{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.caja1{
    background-color: #f9f9f9;
    border-radius: 4vh;
    border-color: #efeeee;
    padding: 3vh;
    width: 50vh;
    height: 100%;
    border-style: groove;
    margin-bottom: 6vh;
    border-top: none;
    border-left: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
}

.caja1 header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.caja1 header img{
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
    margin-right: 3vh;
}

.caja1 header div{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.caja1 header div h3{
    font-weight: 500;
    font-size: 2.5vh;
    color: #0f0e0e;
    margin-bottom: 0.5vh;
}

.caja1 header div h4{
    font-weight: 350;
    color: rgb(100, 100, 100);
    font-size: 2vh;
}

.caja1 header button{
    background-color: #ebeaea;
    color: #0f0e0e;
    border-radius: 1vh;
    width: 6vh;
    height: 6vh;
    font-size: 2.5vh;
    transition: 0.5s;
    border-style: groove;
    border-top: none;
    border-left: none;
}

.caja1 header button:hover{
    background-color: black;
    color: #efeeee;
}

.caja1 h2{
    font-weight: 500;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.caja1 h3{
    color: rgb(157, 155, 155);
    font-weight: 400;
    font-size: 2.2vh;
    margin-bottom: 2vh;
}

.caja1 div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3vh;
}

.caja1 div p{
    background-color: #dbe4fc;
    border-radius: 0.7vh;
    padding: 0.7vh;
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

.div-separador-caja1{
    width: 100%;
    height: 1px;
    color: rgb(200, 200, 200);
    font-size: 2.1vh;
    margin-bottom: 3vh;
}

.caja1 h1{
    font-weight: 500;
    margin-bottom: 1vh;
    font-size: 5vh;
}

.caja1 h4{
    color: rgb(100, 100, 100);
    font-size: 2vh;
    font-weight: 400;
    margin-bottom: 3vh;
}

.caja1 button{
    background-color: #387ff8;
    color: white;
    width: 100%;
    height: 10vh;
    text-align: center;
    border:none;
    border-radius: 3vh;
    font-size: 3vh;
    transition: 0.5s;
}

.caja1 button:hover{
    background-color:#0256e7;
    color:white;
    cursor: pointer;
}

.caja2{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    background-image: linear-gradient(#f9f9f9,#f0f0f0,#d8a5d3d6);
    border-radius: 4vh;
    border-color: #efeeee;
    padding: 3vh;
    width: 50vh;
    height: 100%;
    border-style: groove;
    align-items: center;
    border-top: none;
    border-left: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
}

.caja2 img{
    width: 15vh;
    height: 15vh;
    margin-bottom: 4vh;
}

.caja2 h2{
    font-weight: 500;
    font-size: 3.5vh;
    margin-bottom: 2vh;
}

.caja2 p{
    color: rgb(100, 100, 100);
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 3vh;
}

.caja2 button{
    color: white;
    background-color: #0f0e0e;
    width: 100%;
    height: 10vh;
    text-align: center;
    border-radius: 2vh;
    border: none;
    font-size: 3vh;
    transition: 0.5s;
}

.caja2 button:hover{
    color: white;
    background-color: #4e4949;
    cursor: pointer;
}


